#nav{
   width:1500px;
    height:104px;
}
div,li {
    display:inline;
    list-style:none;
}
#leftsidelogo{
    width:1050px;
}
#rightsidelogo{
    float:right;
    width:450px;
}

    
}
div#choosemenu ul {
    margin-top:300px;
    
}
#choosemenu li {
    display:inline;
}
#rightform{
    float:right;
}